/* stylesheet.css*/
body {
    background-color: gainsboro;
    text-align: center;
}
img {
    width: 40%;
    height: auto;
}

h1 {
    color: orangered;
    margin-left: 20px;
    font-size: 80px;
}
h2{
    color: orange;
    font-size: 50px;
}
p{
    color: cornflowerblue;
    font-size: 30px;
}